<a href="https://colab.research.google.com/github/Mohit1-K/Customer-ad-click-prediction/blob/main/Customer_ad_click_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
Df= pd.read_csv("/content/drive/MyDrive/Notebook work/advertising.csv")

In [3]:
Df

     Daily Time Spent on Site  Age  ...            Timestamp  Clicked on Ad
0                       68.95   35  ...  2016-03-27 00:53:11              0
1                       80.23   31  ...  2016-04-04 01:39:02              0
2                       69.47   26  ...  2016-03-13 20:35:42              0
3                       74.15   29  ...  2016-01-10 02:31:19              0
4                       68.37   35  ...  2016-06-03 03:36:18              0
..                        ...  ...  ...                  ...            ...
995                     72.97   30  ...  2016-02-11 21:49:00              1
996                     51.30   45  ...  2016-04-22 02:07:01              1
997                     51.63   51  ...  2016-02-01 17:24:57              1
998                     55.55   19  ...  2016-03-24 02:35:54              0
999                     45.01   26  ...  2016-06-03 21:43:21              1

[1000 rows x 10 columns]

In [4]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [5]:
print(len(Df["Country"].unique()))

237

In [6]:
data= Df.drop(columns= ["Country" , "City", "Ad Topic Line"]).copy()

In [7]:
data.head()

   Daily Time Spent on Site  Age  ...            Timestamp  Clicked on Ad
0                     68.95   35  ...  2016-03-27 00:53:11              0
1                     80.23   31  ...  2016-04-04 01:39:02              0
2                     69.47   26  ...  2016-03-13 20:35:42              0
3                     74.15   29  ...  2016-01-10 02:31:19              0
4                     68.37   35  ...  2016-06-03 03:36:18              0

[5 rows x 7 columns]

In [8]:
data["Timestamp"]= pd.to_datetime(data["Timestamp"])

In [9]:
data.head()

   Daily Time Spent on Site  Age  ...           Timestamp  Clicked on Ad
0                     68.95   35  ... 2016-03-27 00:53:11              0
1                     80.23   31  ... 2016-04-04 01:39:02              0
2                     69.47   26  ... 2016-03-13 20:35:42              0
3                     74.15   29  ... 2016-01-10 02:31:19              0
4                     68.37   35  ... 2016-06-03 03:36:18              0

[5 rows x 7 columns]

In [10]:
data["Hour"]= data["Timestamp"].dt.hour

In [11]:
data.head()

   Daily Time Spent on Site  Age  ...  Clicked on Ad  Hour
0                     68.95   35  ...              0     0
1                     80.23   31  ...              0     1
2                     69.47   26  ...              0    20
3                     74.15   29  ...              0     2
4                     68.37   35  ...              0     3

[5 rows x 8 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Male                      1000 non-null   int64
 5   Timestamp                 1000 non-null   datetime64[ns]
 6   Clicked on Ad             1000 non-null   int64
 7   Hour                      1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(4)
memory usage: 62.6 KB

In [13]:
X= data.drop("Clicked on Ad", axis=1)

In [14]:
y= data["Clicked on Ad"]

In [15]:
X.head()

   Daily Time Spent on Site  Age  Area Income  ...  Male           Timestamp Hour
0                     68.95   35     61833.90  ...     0 2016-03-27 00:53:11    0
1                     80.23   31     68441.85  ...     1 2016-04-04 01:39:02    1
2                     69.47   26     59785.94  ...     0 2016-03-13 20:35:42   20
3                     74.15   29     54806.18  ...     1 2016-01-10 02:31:19    2
4                     68.37   35     73889.99  ...     0 2016-06-03 03:36:18    3

[5 rows x 7 columns]

In [16]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Clicked on Ad, dtype: int64

In [17]:
 
import datetime as dt
X['Timestamp']=X['Timestamp'].map(dt.datetime.toordinal)

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Male                      1000 non-null   int64
 5   Timestamp                 1000 non-null   int64
 6   Hour                      1000 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 54.8 KB

In [19]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [20]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size= 0.30)

In [21]:
from sklearn.svm import SVC
model= SVC()
from sklearn.linear_model import LogisticRegression
Le= LogisticRegression()

In [22]:
Le.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
Le.score(X_test, y_test)

0.9633333333333334

In [30]:
pred=np.array(Le.predict(X_test))

In [33]:
from sklearn.metrics import accuracy_score, classification_report

In [34]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96       140
           1       0.99      0.94      0.96       160

    accuracy                           0.96       300
   macro avg       0.96      0.96      0.96       300
weighted avg       0.96      0.96      0.96       300